.pagina-login-adm{
 
    display: flex;
    
    background: linear-gradient(180deg, #619853 0%, #325B23 100%);

    width:100vw;
    min-height: 100vh;   
    overflow-x: hidden;
    align-items: center;  
    flex-direction: column;

    .cabecalho-adm{

      .menu-adm, .container-patinhas-adm .mostrar-menu-adm{

        display:none;
        visibility:hidden;
        opacity:0;
      }
    }

    .container-page{
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        flex-direction: column;
      .Conteudo{
        display: flex; 
        flex-grow:1;

        width: 60%;
        height: 100%;

        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      
        background-color:#C8DFBF;
        
      
      #alinhar-between{

        height:15%;
      }

      h1{
        margin-bottom:40px ;
      }

        .infs{

          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          font-size: 18px;
          font-weight: 600;
          

          .nome{

            display:flex;
            flex-direction: column;

            width:80%;
            margin-bottom: 20px;

             label{
              margin-bottom: 10px;
            }

            input{

              width: 100%;
              border-radius: 10px;
              padding: 20px 10px;
              margin-bottom: 10px;
              background: #FFF;
            }
            } 
        
          .senhaAdm{
            display:flex;
            flex-direction: column;

            width:80%;
           
         
            label{
              margin-bottom: 10px;
            }

            input{

              max-width: 100%;
              border-radius: 10px;
              padding: 20px 10px;
              margin-bottom: 10px;
              background: #FFF;
            }
          }

          .botao{
             
            margin-top: 10px;
            width: 170px;
            height: 60px;
            font-family: "Righteous", cursive;
            color: #FFF;
            flex-shrink: 0;
            background-color:#619853;
            border: none;
            border-radius: 10px;
            align-self: center;
            font-size:larger;
            font-weight: 400px;
          }
        }
        
      }
      .Conteudo>h1{
        
        font-size: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',   Verdana, sans-serif;
        margin: 0px 370px 50px 370px;
        color: #3D5745;
        
      }

      .nome{
        width: 30vw;

      }

      .nome>h3{
        
        flex-direction: wrap;
      
    }       

    .senhaAdm{
        width: 30vw;
        margin: 5px;
    }

    .senhaAdm>h3{
      
        flex-direction: wrap;
       

    }
    }

}

@media(max-width:480px) {
  .pagina-login-adm .container-page .Conteudo{

    width: 100%;
  }
}

