.cabecalho{

    width:100vw;
    height:15vh;

    display:flex;
    flex-direction: row;
    justify-content: space-between;

    background: #183D0A;
    color: #fff;

    #logo{

        width:auto;
        height:100%;
    }

    #patinhas{

        height:50%;
        width:auto;

        margin-top:20px;
        margin-right:20px;
    }

    .container-header{

        display: flex;
        flex-direction: column;
        align-items: center;

        padding:20px 0px;

        width:60%;

        .container-infs{

            display:flex;
            flex-direction: row;
            justify-content: space-between;

            width:100%;
            gap:10px;

            .pesquisa{

                width:500px;
                height:40px;

                padding:8px;

                background-color: #BAE2B5;

                input{

                    height:100%;
                    width:90%;
                    
                    padding:5px;
                    margin-right:10px;

                    background-color: transparent;
                    font-size:20px;
                }
            }

            .direcionar{

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                gap:20px;

                .criar-conta,.carrinho{

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    gap:10px;

                    label{

                        font-size:16px;
                    }
                }           
            }
        }
    }
}

@media(max-width:1220px){


}
