.pag-endereco {

    background: linear-gradient(180deg, #619853 0%, #325B23 100%);
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    .rodape {
        width: 100vw;
    }

    .div-sair{

        display:flex;
        align-items: center;
        justify-content: center;

        width:100%;
        height:100%;

        position:fixed;
        background-color: #a0a0a04f;
        backdrop-filter: blur(2px);

        .acoes-sair{

            display:flex;
            flex-direction: column;

            width:60%;

            background-color:#C8DFBF;
            border:1px solid #3D5745;

            .container-sair{

                padding:20px;

                h2{

                    font-size:24px;
                    text-align:center;
                    margin-bottom:20px;
                }

                .sub-container-buttons-confirmar{

                    display:flex;
                    flex-direction: row;    
                    justify-content: space-evenly;
                    flex-wrap: wrap;

                    gap:10px;

                    >button{

                        padding:10px 20px;

                        color:#fff;
                        font-size:18px;
                    }

                    #button1-sair{

                        background-color: #EF4040;
                    }

                    #button2-sair{

                        background-color: #3D5745;
                    }
                }
            }
        }
    }
    
    .endereco-container {

        background-color: #EBFBE9;
        width: 60%;
        height: 100%;

        .endereco-altmenu, .endereco-infos{

            padding:10px;
        }

        .endereco-altmenu {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;

            hr {
                width: 3px;
                background-color: #3D5745;
            }

            .endereco-menu {

                background-color: #EEF1DC;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px 0px;
                margin-right:5px;
                border: 1px solid #3D5745;
                border-radius: 10px;

                .link {
                    color: #3D5745;
                    padding: 10px;
                    font-size: 14px;
                }

                .link-p {
                    background-color: #D2E1B2;
                    color: #3BA73D;
                    font-size: 14px;
                    padding: 10px;
                    border: 1px solid #183D0A;
                }
            }

            .endereco-alterar {

                padding: 10px;
                align-items: center;
                display: flex;
                flex-direction: column;

                h5 {
                    color: #3D5745;
                    padding-bottom: 20px;
                    font-size: 16px;
                }

                button {
                    background-color: #619853;
                    width: 180px;
                    height: 60px;
                    border: none;
                    color: white;
                    font-family: 'Josefin Sans';
                    font-size: 18px;
                    border-radius: 10px;

                }
            }

            .div-buttons-alteracao {

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                gap: 10px;

                button {

                    width: 180px;
                    height: 60px;
                    border: none;
                    color: white;
                    font-family: 'Josefin Sans';
                    font-size: 16px;
                    border-radius: 10px;
                }

                #button-alterar1 {

                    background-color: #619853;
                }

                #button-alterar2 {

                    background-color: #EF4040;
                }
            }
        }

        .endereco-infos {

            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            padding: 20px;

            input,select {

                width: 100%;
                font-size: 18px;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #3D5745;
            }

            label {

                font-size: 18px;
                font-family: 'Aoboshi One', serif;
            }


            .endereco-complementos {
                display: flex;
                flex-direction: row;
                gap: 20px;
                justify-content: space-between;


                .numero,
                .complemento {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                }
            }

            .endereco-ec {

                display: flex;
                flex-direction: row;
                gap: 20px;
                justify-content: space-between;

                .cidade,
                .estado {
                    
                    flex-grow: 1;
                }

            }

            .butt {
                align-self: center;

                button {
                    background-color: #619853;
                    width: 180px;
                    height: 60px;
                    border: none;
                    color: white;
                    font-family: 'Josefin Sans';
                    font-size: 18px;
                    border-radius: 10px;
                    align-self: center;

                }
            }
        }
    }
}

@media(max-width:880px) {

    .pag-endereco .endereco-container {

        width: 80%;
    }
}

@media(max-width:480px){

    .pag-endereco .endereco-container{

        width: 100%;
    }

    .pag-endereco .endereco-container .endereco-altmenu{

        flex-direction: column;

        .endereco-alterar button{

            width:120px;
            height:40px;
            font-size:16px;
        } 
    }
}