.page-cadastrar-produto{

    display:flex;
    flex-direction: column;

    width:100vw;
    height:100vh;

    overflow-x:hidden;

    background-color: #EBFBE9;

    .infs-produto{

        display:flex;
        flex-direction: row;

        width:100%;
        height:85%;
        
        .formulario-images{

            width:50%;
            height:100%;

            padding:30px;

            label{

                background-color: #e3ffe8;
                background-size:contain;
                background-repeat: no-repeat;
                background-position: center center;
                
                border: 2px solid #3D5745;
                border-radius:10px;

                cursor:pointer;

                .alterar-label-hover{
                    
                    display:flex;
                    justify-content: center;
                    align-items: center;

                    width:100% !important;
                    height:100% !important;
    
                    position:absolute;
                    top:0;
                    left:0;
    
                    background-color:#0000005b;
    
                    opacity:0;
                    transition: opacity 0.3s;
                }
            }

            .label-com-imagem{

                svg{

                    display: none;
                }
            }
            
            label:hover .alterar-label-hover{

                opacity:1;
            }

            input{
                display:none;
            }

            .image-principal{
                
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                position:relative;

                aspect-ratio: 16/9;

                padding:20px;
                margin-bottom:40px;

                >div{

                    display:flex;
                    flex-direction: column;
                    align-items: center;

                    width:100%;
                }

                h6{

                    font-size:18px;
                    margin-bottom:10px;
                }
            }

            .image-principal:hover div{

                opacity:1;
            }
            
            .container-images-secundarias{

                display:flex;
                flex-direction: column;

                width:100%;
                height:30%;

                gap:5%;

                h3{

                    font-size:24px;
                }

                hr{

                    width:100%;
                }

                .container-labels{

                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    width:100%;
                    height:100%;

                    .label-secundario{

                        display:flex;
                        align-items: center;
                        justify-content: center;
                        
                        position:relative;
                        padding:5px;
    
                        width:20%;
                        height:50%;

                        svg{

                            max-height: 100%;
                            width: auto;
                        }
                    }
                }
            }
        }

        .container2-infs{

            display:flex;
            flex-direction: column;

            width:50%;
            padding-top:30px;

            h2{

                font-size:28px;
                margin-bottom:20px;
            }

            >form,>div{

                display: flex;
                flex-direction: column;

                margin-bottom: 20px;
                max-width:60%;

                border-radius: 10px;
                border:1px solid #3D5745;
            }

            label{

                font-weight: 600;
                font-size:18px;

                margin-bottom: 10px;
            }

            input,#input-preco{

                max-width: 100%;
                
                padding:10px 5px;
                margin-bottom: 20px;

                color:#3D5745;
                font-size:18px;

                background-color: #F9F9F9;
                border:1px solid #3D5745;
                border-radius: 5px;
            }

            .input-container{

                display:flex;
                flex-direction: row;
                align-items: center;

                gap:10px;

                span{

                    font-size:18px;
                    font-weight: 800;
                }
            }

            .informacoes,.infs-adicionais,.produto{

                background-color: #EEF1DC;
                padding:30px;
            }

            .informacoes{
                .container-selects{

                    display: flex;
                    flex-direction: row;

                    gap:10%;

                    select{

                        padding:10px 5px;
                        margin-bottom:20px;
                        width: 50%;

                        font-size:18px;
                        background-color: #F9F9F9;
                        border:1px solid #3D5745;

                        option:hover{

                            background-color: #3D5745;
                        }
                    }
                }
            }

            .infs-adicionais{

                >form,>div{

                    display:flex;
                    flex-direction:column;
                }
                
                // Aplicado somente para o botão "ativar desconto"
                button{

                    align-self: center;
                    width:50%;
                    padding:10px;
                    margin-bottom:20px;
                    border-radius: 5px;

                    font-size:18px;
                    color:#fff;
                    background-color: #619853;
                    border: 1px solid #3D5745;

                    transition:background-color 0.3s,color 0.3s;
                }
                
                .Selecao-disponivel {
                    .input-container{

                        input{
    
                            width:50%;

                            transition: background-color 0.3s, color 0.3s;
                        }    
                    }

                    .selecionar-data{

                        display:flex;
                        flex-direction: column;
                        align-items: center;

                        input{

                            width:100%;

                            transition: background-color 0.3s, color 0.3s;
                        }
                    }
                }

                .form-desconto{

                    align-items: center;

                    #input-desconto{

                        width:40%;
                    }
                }
            }
        }
    }
}

@media(max-width:900px){

    .page-cadastrar-produto{

        .infs-produto{

            flex-direction: column;

            .formulario-images{

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width:100%;
                height:50%;

                .image-principal{

                    height:60%;
                    width: 100%;

                    margin-bottom: 10px;
                }

                .container-images-secundarias{

                    height:40%;
                }
            }

            .container2-infs{

                flex-direction: row;
                width:100%;
                padding:20px;
                gap:5%;
                
                h2{

                    font-size:20px;
                    text-align: center;
                }

                label,input,button,span,#input-preco,.informacoes .container-selects select{

                    font-size:14px !important;
                }

                .produto{

                    width:25%;
                }

                .informacoes,.infs-adicionais{

                    width:35%;

                    button{

                        width:100%;
                    }
                }
            }
        }
    }
}

@media(max-width:600px){

    .page-cadastrar-produto .infs-produto .container2-infs{

        flex-wrap: wrap;

        .produto{

            width:45%;
        }

        .informacoes,.infs-adicionais{

            width:50%;
        }
    }
}

@media(max-width:510px){

    .page-cadastrar-produto .infs-produto .container2-infs{

        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        width:100%;

        .produto,.informacoes,.infs-adicionais{

            width:100%;
        }
    }
}


