

.Corpo{
  margin: 0px;
  display: flex;
  background-color: #619853;
  width:100% ;
  height: 100vh;
  align-items: center;  
flex-direction: column;
      .Conteudo{
      display: flex;        
      width: 100%;
      height: 100vh;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      background-color:#C8DFBF ;
      .credencial{
       width: auto;
       height: 30px;
      }
      .credencial>input{
        border-radius: 10px;
        background: #FFF;
        border: none;
        margin: 0px 0px 0px 0px;
        width: 40vw;
        height:05vh;
      }
      .senha{
        height: 30px;
        align-items: center;
      }
      .senha>input{
        border-radius: 10px;
        background: #FFF;
        border: none;
        margin: 20px 0px 0px 0px;
        width: 40vw;
        height:05vh;

      }
      .botao{
        width: 16vw;
        height: 8vh;
        flex-shrink: 0;
        background-color:#619853;
        border: none;
        border-radius: 10px;
        margin: 0px 0px 0px 0px;

      }

     
      .suporte{
        color: #000;
        font-family: Alef;
        font-size: 10px;
        margin:   30px 0px 0px 0px;
        flex-direction: row;
        width: 40vw;
        height: 10vh;
        
        .esqueceu{

          margin-left: 290px;
        }
      }
     
      .suporte>a{
        width: 40px;
        height: 10px;
        color: #000;
        font-family: Alef;
        font-size: 10px;
        font-style: normal;
       margin: 0px 0px 0px 0px;
        flex-direction: row;
      }
    
      
    }
    .Conteudo>h1{
      display: flex;
      font-size: 50px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',   Verdana, sans-serif;
      margin: 0px 370px 50px 370px;
      color: #3D5745;
      
    }
}