
.corpo {
    display: flex;
    flex-direction: column;
    background-color:#EBFBE9;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    align-items: center;

    .conteudo {
        display: flex;
        height: 60%;
        width: 100%;
   }
     
    .imgs {
        height: 60vh;
        width: 50vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: flex-start;  // Corrigido para um valor válido
    }
    
    .quadrado-produto {
        height: 100%;
        width: 20%;
        margin: 20px;
        padding: 20px;
        align-self: center;
        background-color:transparent;
        border: 2px solid #000000; 
        
    }

    .nome-pedido{
        height: 30vh;
        
    }

    .imagem-produto-cliente{
        display: flex;
        margin:20px;    
        height: 70vh;
        width: 60vw;

            img{
                
                height: 60%;

            }
    }
    .descricao-produto{
        display: flex;
        background-color: #EEF1DC;
        height: 35vh;
        width: 40vw;
        margin: 20px;
        padding: 20px;

        label{
            padding: 20px;
            
        }
    }
    .produto-descricao{
        background-color: #BAE2B5;
        height: 50%;
        width: 75%;
        padding: 20px;
        margin-bottom: 60px;
            h2{
                margin-bottom:  20px; ;
            }
    }
    .contador-produto{
        
    }
}


