
.corpo {

    background-color:#EBFBE9;
    min-height: 100vh;
    overflow-x: hidden;

    .conteudo {
        display: flex;
        flex-direction: row;
        height: 60%;
        width: 100%;
   
     
    .imgs {

        display: flex;
        flex-direction: row;
        align-items: flex-start;  

        .quadrados-section{
            display: flex;
            flex-direction: column;
              height: 60vh;
            width: 10%;
            padding: 10%;
        }

        .imagem-produto-cliente{
            display: flex;
            margin:20px;    
            height: 70vh;
            width: 50%;
    
                img{
                    
                    height: 60%;
    
                }
        }
    }
    
    .quadrado-produto {
        height: 100%;
        width: 20%;
        margin: 20px;
        padding: 40px;
        align-self: center;
        background-color:transparent;
        border: 2px solid #000000; 
        
    }

    .nome-pedido{
        height: 30vh;
        
    }

   
    .descricao-produto{
        
        background-color: #EEF1DC;
        height: 35vh;
        width: 40vw;
        margin: 20px;
        padding: 20px;

        label{
            padding: 20px;
            
        }
    }
    .produto-descricao{
        background-color: #BAE2B5;
        height: 50%;
        width: 75%;
        padding: 20px;
        margin-bottom: 60px;
            h2{
                margin-bottom:  20px; ;
            }
    }
    .alinhamento{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10%;
    }
}
    .contador-produto{
        display: flex;
        margin: 5%;
        height: 2vh;
        width: 5vw;
        border-radius: 20px solid #000 ;
            button{
                height: 40%;
                width: 40%;
                padding: 0px 10px 10px 10px;
            }

       
    }
    .botao-produto-cliente{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:baseline;        
        
            button{
                padding: 20px 50px;
                margin-bottom: 10px;

                font-size: 20px;
                color: #ffff;

                border-radius: 5px;
                border: none;
                background-color: #619853;
            }  
    }   
}


