.pag-favoritos{



    background: linear-gradient(180deg, #619853 0%, #325B23 100%);
    max-width:100vw;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;


    .conteiner-favoritos{


        background-color: #EBFBE9;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 100vh;
        

        

        .fav-menu{

            background-color: #EEF1DC;
            display: flex;
            flex-direction: column;
            text-align: justify;
            border:1px solid #3D5745;
            border-radius: 10px;
            height: 200px;
            padding: 10px;
            max-width: 50%;
            margin-left: 25px;


            .link{
                color: #3D5745;
                padding: 7px;
                padding-left: 25px;

            }
            .link-p{
                background-color: #D2E1B2;
                color: #3BA73D;
                border: 1px solid #183D0A

            }
            
        }

        .conteiner-lf{

            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            margin-top: 50px;

            .lista-fav{
                text-align: center;
                background-color: #EEF1DC;
                width: 80%;
                height: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .favoritos{

                    width: 100%;
                    height: 20%;
                    margin-top: 20px;

                    table{

                        width:100%;
                        tr{

                            td{
                                font-family: 'Josefin Sans';
                                font-size: 12px;
                            }

                        }

                        
                    }
                }


                 h4{
                    color: #3D5745;
                    font-size: 20px;
                    padding: 5px;
                }

                hr{
                    height: 3px;
                    width: 70%;
                    background-color: #3D5745;
                }
            }
            


            // Caso lista vazia
            // .lista-fav{
            // //     text-align: center;
            // //     background-color: #EEF1DC;
            // //     width: 80%;
            // //     height: 100%;
            // //     padding: 30px;
            // //     display: flex;
            // //     flex-direction: column;
            // //     align-items: center;

            // //     h4{
            // //         color: #3D5745;
            // //         font-size: 20px;
            // //         padding: 5px;
            // //     }

            // //     hr{
            // //         height: 3px;
            // //         width: 70%;
            // //         background-color: #3D5745;
            // //     }

            // //     button{

            // //         background-color: #619853;
            // //         width: 180px;
            // //         height: 50px;
            // //         border: none;
            // //         color: white;
            // //         font-family: 'Josefin Sans';
            // //         font-size: 25px;
            // //         border-radius: 10px;
                    
            // //     }
            // }
        

        }



    }

    .conteiner-fav{


        background-color: #EBFBE9;
        width: 60%;
        height: 100%;

        
        .fav-cont-menu{

            padding: 20px;


            .fav-menu{

                background-color: #EEF1DC;
                display: flex;
                flex-direction: column;
                text-align: justify;
                justify-content: center;
                border:1px solid #3D5745;
                border-radius: 10px;
                padding: 10px;
                padding-bottom: 5px;
                max-width: 60%;
    
                .link{
                    color: #3D5745;
                    padding: 7px;
                    padding-left: 25px;
    
                }
                .link-p{
                    background-color: #D2E1B2;
                    color: #3BA73D;
                    border: 1px solid #183D0A
    
                }
            }


        }

        .fav-vazio{

            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #EEF1DC;
            width: 80%;

        }

    }
    

}