.pag-pedidos{

    background: linear-gradient(180deg, #619853 0%, #325B23 100%);
    max-width:100vw;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    .rodape{
        width:100vw;
}

    .conteiner-pedidos{

        background-color: #EBFBE9;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 100vh;

        .pedidos-menu{
            background-color: #EEF1DC;
            display: flex;
            flex-direction: column;
            text-align: justify;
            border:1px solid #3D5745;
            border-radius: 10px;
            height: 200px;
            padding: 10px;
            max-width: 50%;
            margin-left: 25px;

            .link{
                color: #3D5745;
                padding: 7px;
                padding-left: 25px;

            }
            .link-p{
                background-color: #D2E1B2;
                color: #3BA73D;
                border: 1px solid #183D0A

            }
        }

        .conteiner-pr{
            display: flex ;
            flex-direction: column;
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            h4{
                color: #3D5745;
                font-size: 20px;
 
            }

            hr{
                height: 3px;
                width: 30%;
                background-color: #3D5745;
            }

            .pedidos-info{
                margin-top: 10px;
                background-color: #EEF1DC;
                height: 60%;
                width: 90%;
                border:1px solid #3D5745;
                border-radius: 10px;
                padding: 20px;
                text-align: center;
                

                table{

                    width: 100%;

                    tr{

                        font-size: 18px;

                        .desgraca{
                            width: 200px;
                        }
                    }

                    button{
                        background-color: #619853;
                        height: 30px;
                        font-family: 'Josefin Sans';
                        font-size: 18px;
                        border-radius: 10px;
                        color: white;
                    }
                }

            }
        }
    
    }
}