.cabecalho-adm{

    width:100%;
    height:15vh;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: hidden;

    background: #183D0A;
    gap:10px;

    *{
        color: #fff;
    }

    #logo{

        width:auto;
        height:100%;
    }

    .container-adm-header{

        display:flex;
        flex-direction: row;
        align-items: center;

        height:100%;

        font-size:18px;
        gap:10px;

        span{

            font-size:inherit;
        }
    }

    .container-patinhas-adm{

        display:flex;
        flex-direction: column;

        height:100%;

        #patinhas{

            height:50%;
            width:auto;
    
            margin:20px 20px 0px 0px;
        }

        .mostrar-menu-adm{

            display:flex;
            flex-direction: row;
            align-items: center;

            gap:10px;

            h4{

                color:#619853;
                font-size:20px;
            }
        }
    }

    .menu-adm{

        position:absolute;
        left:80%;

        height:100%;
        width:20vw;

        padding:20px 0px;

        background: linear-gradient(180deg, #619853 0%, #325B23 100%);
        font-size:18px;

        #mensagem-boas-vindas-usuario{

            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            position:relative;

            width:100%;
            height:10%;

            text-align: center;
            margin-bottom:10px;

            .botao-fechar-menu{

                display:block;
                width:unset;
                position:absolute;

                top:0%;
                left:90%;
            }

            .botao-fechar-menu:hover{

                background: none;
                border: none;
            }
        }

        hr{

            margin-bottom:10px;
        }

        .button-consulta{

            position: relative;

            >svg{

                transform: rotate(90deg);
            }

            .container-consulta{

                opacity:0;
                visibility: hidden;

                display:flex;
                flex-direction: column;
                align-items: right;
    
                position: absolute;
                top:100%;
    
                width:90%;
    
                gap:1px;
                margin-bottom:10px;
    
                .botao-historico{
    
                    width:100%;
                    padding:10px 0px;
    
                    background-color: #EEF1DC;
                    border: 1px solid #3D5745;
    
                    color:#183D0A;
                    text-align: center;
                }
            }
        }

        .button-consulta:hover{

            .container-consulta{

                opacity:1;
                visibility: visible;

                transition:opacity 1s;
            }
        }

        button, .botao-menu-adm{

            display:flex;
            flex-direction:row;
            align-items: center;
            justify-content: center;

            width:100%;

            padding:10px 0px;
            margin-bottom:10px;
            gap:5px;

            font-size: inherit;

            svg{

                fill:#fff;
            }
        }

        button:hover,.botao-menu-adm:hover{

            background-color: #EEF1DC;
            border: 1px solid #3D5745;

            span{

                color:#183D0A;

                transition:color 0.3s;
            }

            svg{

                fill: #183D0A;

                transition:fill 0.5s;
            }

            transition:0.5s;
        }
    }

    .mostrar{

        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s;
    }

    .esconder{

        visibility: hidden;
        opacity:0;
    }
}

@media(max-width:500px){

    .cabecalho-adm{

        #logo{

            height:90%;
        }
    }

    .container-adm-header span{

        font-size:14px !important;
    }

    .container-patinhas-adm{

        padding:5px;

        #patinhas{

            height:40% !important;
            margin:10px 10px 0px 0px !important;
        }

        .mostrar-menu-adm{

            h4{

                font-size:16px;
            }
            svg{

                width:30px;
                height:20px;
            }
        }
    }
}

@media(max-width:380px){

    .cabecalho-adm .container-patinhas-adm .mostrar-menu-adm h4{

        display:none;
    }

    .cabecalho-adm .container-adm-header svg{

        display:none;
    }
}