@import url('https://fonts.googleapis.com/css2?family=Alef&family=Aoboshi+One&family=Inter&family=Josefin+Sans&family=Merriweather+Sans&family=Righteous&display=swap');

// Fontes a ser usadas:
// font-family: 'Alef', sans-serif;
// font-family: 'Aoboshi One', serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Merriweather Sans', sans-serif;
// font-family: 'Righteous', cursive;

*{

  margin:0;
  padding:0;
  box-sizing: border-box;

  font-family: 'Josefin Sans', sans-serif;
  color:#3D5745;
}

h1,h2,h3,h4,h5,h6{

  font-family: 'Righteous', cursive;
}

.preco{

  font-family: 'Merriweather Sans', sans-serif;
  font-weight:600; 
  font-size:18px;
}

a,button,.Link,input[type=button]{

  cursor:pointer;
  background: none;
}

.Link{

  text-decoration: none;
  color:#3D5745;
}

input,button{

  border:none;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{

  -webkit-appearance: none;
  margin:0;
}
