.card-cliente-adm{

    width:300px;
    background-color: #EEF1DC;
    border: 1px solid #3D5745;

    >div{

        display:flex;
        flex-direction:column;

        h4,h5{

            font-size:18px;
            margin:0px 5px;
            font-weight: 400;

            span{

                font-size:18px;
                font-weight: 600;
                font-family: 'Righteous', cursive;
            }
        }

        span{

            font-weight:600;
            font-size:16px;
            margin:0px 5px;
        }

        p{

            font-size:18px;
        }

        button{

            background-color: #3D5745;
            border-radius:5px;
            
            font-size:16px;
            color:#fff;

            padding:5px;
        }
    }

    .redirecionar-cliente{

        align-items: center;

        padding:5px;

        .link-redirecionar{

            padding:10px 20px;

            background-color: #619853;
            border-radius:5px;

            color:#fff;
            font-size:18px;
            text-align: center;
        }
    }
}