.page-produto-adm{

    width:100vw;
    min-height:100vh;

    background-color: #EBFBE9;
    overflow-x: hidden;

    hr{

        width:100%;
        border:1px solid #3D5745;
    }

    .container-page{

        display:flex;
        flex-direction: row;

        width:100%;
        padding:20px;

        .container-imagens{

            width:60%;
        }

        .container-infs{

            width:40%;

            background-color: #EEF1DC;
            border: 1px solid #3D5745;

            .infs-nao-alteraveis:last-child div{

                border-bottom:none !important;
            }

            .infs-nao-alteraveis div input,.infs div .sem-fundo{

                background-color:transparent;
                border:none;
            }

            // Infs alteráveis e não alteráveis
            >div{

                display:flex;
                flex-direction: column;

                width:100%;

                gap:5px;
                margin-bottom:20px;

                h3{

                    font-size:24px;
                    margin:10px;
                }

                #div-desc{

                    flex-direction: column;
                    align-items: flex-start;
                }

                // Divs que guardam labels e inputs
                >div{

                    display:flex;
                    flex-direction: row;
                    align-items: center;

                    width:100%;

                    gap:5px;
                    padding:10px;

                    border-bottom:1px solid #3D5745;

                    label{

                        font-size:18px;
                        font-weight: 600;
                    }

                    input,textarea{

                        flex-grow: 1;
                        padding:5px;

                        font-size:18px;
                        resize:none;
                    }

                    textarea{

                        width:100%;
                        border:1px solid #3D5745;
                    }
                }

                button{

                    align-self: center;

                    padding:10px;
                    width:70%;

                    background-color: #619853;
                    font-size: 18px;
                    color:#fff;
                }
            }
        }
    }

    .acoes{

        display:flex;
        flex-direction: column;
        align-items: center;

        width:100%;

        padding:20px;

        h3{

            font-size:30px;
            margin-bottom: 20px;
        }

        .container-buttons{

            width:100%;

            display:flex;
            flex-direction: row;
            justify-content: center;

            gap:10px;

            button{

                color:#fff;
                font-size:18px;
                padding:10px;
            }
        }

        .container-buttons button:first-child{

            background-color: #619853;
        }

        .container-buttons button:last-child{

            background-color:#EF4040;
        }
    }
}